.firstButton{

    background: green;
}
.secondButton{

    background: orange;
}
.fa-star{

    color:white;
}
.fa-envelope{
    color: white;
}
a{
    text-decoration: none;
    color:white;
}
i{
    padding: 8px;
}

p{
    width:95px;
    height:30px;
}