li {
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    color: green;

}

html {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

header {


    font-size: 1em;
    line-height: 1.2;
}

h1 {
    display: inline;
    padding-right: 2em;
    font-family: "Georgia", sans-serif;
}

ul {
    display: inline;

}

hr {
    background-color: #000;
    height: 1.5px;
}
